html
	head
		title!= title

		link(href="./stylesheets/main.css", rel="stylesheet", type="text/css" )



	body
		h1!= message

		#countCountainer

		script(src="https://cdn.socket.io/socket.io-1.2.0.js")
		script(src="./scripts/main.js")